/* Stiziles */

$text_color: #212121;


// gearIcons
.gear {
  background-image: url("/images/gears.jpg");
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  &.gear-half{
    background-size: 24px 576px;
    width: 24px;
    height: 24px;
  }
}

@mixin gear($id){
  background-position-y: -48px * ($id - 1);
}
@mixin gear_half($id){
  background-position-y: -24px * ($id - 1);
}

@for $i from 1 through 24 {
  .gear-#{$i} {
    @include gear($i);
  }
}
@for $i from 1 through 24 {
  .gear-half-#{$i} {
    @include gear_half($i);
  }
}



// main
html, body {
  background: #F5F5F5;
  font-size: 12px;
}

button{
  display: block;
  border: none;
  border-radius: 2px;
  padding: 5px;

  background-color: #FFFFFF;
  color: #646464;
  line-height: 120%;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* layout */ 
.side-margin{
    margin-right: 10px;
    margin-left: 10px;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #212121;
  overflow: hidden;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

h1.page-title{
  font-size: 20px;
}

.cloth-list {
  list-style: none;
  padding: 0px;
  margin: 0px 10px;

  li{
    margin-bottom: 20px;
    .photo, .main{
      float: left;
    }
    .photo{
      position:relative;
      $photo_size: 55px;
      width: $photo_size;
      height: $photo_size;
      border-radius: 3px;
      margin-right: 12px;
      overflow: hidden;
      img {
        height: $photo_size;
        width: auto;
        margin-left : 0px;
      }
      .part{
        position:absolute;
        width: $photo_size;
        top: 21px;
        text-align: center;
        color: #888888;
      }
    }
    .main{
      max-width: 75%;
      p{
        margin: 0px;
      }
      p.name{
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 2px;

        span.part{
          color: #AAAAAA;
          font-size: 10px;
          padding-left: 7px;
          vertical-align: middle;
        }
      }
      div.gears{
        margin-top: 7px;
        .main-gear, .sub-gear{
          background-color: #000000;
          border-radius: 2px;
          height: 28px;
          float: left;
          opacity: .75;
        }
        .main-gear{
          margin-right: 7px;
          i{
            margin: 2px;
            border-radius: 2px;
          }
        }
        .sub-gear{
          color: #EEEEEE;
          span{
            display: block;
            float: left;
            line-height: 90%;
            font-size: 8px;
            padding: 2px 2px 1px 2px;
          }
          i{
            float: left;
            margin-right: 2px;
            margin-top: 2px;
          }
        }
      }
    }
    overflow: hidden;
  }
}
header.filters {
  position: relative;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: #EEEEEE 1px solid;
  overflow: hidden;
  select{
    display: block;
    float: left;
    max-width: 145px;
    height: 45px;
    font-size: 100%;
    color: $text_color;

    padding: 10px 5px;
    margin-right: 10px;
    background-color: #FBFBFB;
    border: 1px solid #CCCCCC;

    &:last-child{
      margin-right: 0px;
    }
  }
  .to-gear-description{
    float: left;
    margin-top: 6px;
    font-size: 10px;
  }
}
.sticky{
  z-index: 100;
}

//modal
.ReactModal__Overlay{
  z-index: 10000;
}
table.gear-descriptions{
  td{
    padding: 0px 3px 5px 0px;
  }
}
.close-modal{
  float: right;
  color: #AAAAAA;
}

