/* Stiziles */

$text_color: #212121;

html, body {
  background: #F5F5F5;
  font-size: 12px;
}

/* layout */ 
.side-margin{
    margin-right: 10px;
    margin-left: 10px;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #212121;
  overflow: hidden;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

h1.page-title{
  font-size: 20px;
}

.cloth-list {
  list-style: none;
  padding: 0px;
  margin: 0px 10px;

  li{
    margin-bottom: 20px;
    .photo, .main{
      float: left;
    }
    .photo{
      position:relative;
      $photo_size: 53px;
      width: $photo_size;
      height: $photo_size;
      border-radius: 5px;
      margin-right: 12px;
      overflow: hidden;
      img {
        height: $photo_size;
        width: auto;
        margin-left : 0px;
      }
      .part{
        position:absolute;
        width: $photo_size;
        top: 18px;
        text-align: center;
        color: #FFFFFF;
      }
    }
    .main{
      max-width: 75%;
      p{
        margin: 0px;
      }
      p.name{
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 2px;

        span.part{
          color: #AAAAAA;
          font-size: 10px;
          padding-left: 7px;
          vertical-align: middle;
        }
      }
      div.gears{
        margin-top: 7px;
        .main-gear{
          float: left;
          margin-right: 7px;
          img{
            height : 26px;
            border-radius: 3px;
            width : auto;
          }
        }
        .sub-gear{
          float: left;
          img{
            height : 16px;
            border-radius: 2px;
            width : auto;
            margin-right: 0px;
            margin-top: 5px;
          }
        }
      }
    }
    overflow: hidden;
  }
}
header.filters {
  position: relative;
  z-index: 10000;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: #EEEEEE 1px solid;
  overflow: hidden;
  select{
    display: block;
    float: left;
    max-width: 150px;
    height: 45px;
    font-size: 100%;
    color: $text_color;

    padding: 10px 5px;
    margin-right: 10px;
    background-color: #FBFBFB;
    border: 1px solid #CCCCCC;

    &:last-child{
      margin-right: 0px;
    }
  }
  .to-gear-description{
    display: block;
    float: left;
    margin-top: 8px;
    text-decoration: none;
    line-height: 130%;
  }
}
.sticky{
  z-index: 100;
}
